[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-testmon = "*"
pytest-random-order = "*"
pre-commit = "*"
nbconvert = "*"
black = "*"
isort = "*"

[packages]
notebook = "*"
hydra-core = "*"
pdoc3 = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
boto3 = "*"
pyarrow = "*"
cloudpickle = "*"
tqdm = "*"
scipy = "*"
albumentations = "*"
tensorflow = "==2.8"  # 2.9 printed few strange warnings during the fit
tensorflow_probability = "==0.16.0"  # versions above 0.16 requires TF 2.9
protobuf = "==3.20"  # we downgrade protobuf to 3.20 to avoid few strange exceptions
optuna = "*"

[requires]
python_version = "3.8"

[scripts]
test="pytest"
